.header-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    text-align: center;
    margin-right: 4rem;
}

.header-logo {
    margin-left: 2rem;
}

.form-container {
    margin-top: 2rem;
    margin-left: 25rem;
    margin-right: 25rem;
}

/* .form-dates {
    display: flex;
    flex-wrap: wrap;
} */

.btn-delete {
    /* position: relative; */
    float: inline-end;
    margin-top: 1rem;
}